# Mac
.DS_Store
# JS
build
dist
node_modules
.parcel-cache
# Croquet npm
/packages/croquet/cjs
/packages/croquet/pub
# Croquet-in-a-Box
/server/croquet-in-a-box/_files
# VSCode
.vscode
*.code-workspace
# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
# new additions

workers/wrangler_shared/
